@using Insurance.Resources
@{ ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml"; }
@model Insurance.Models.InsuranceQuoteModel
<div class="stepForm homepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Welcome to user dashboard</h2>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    setTimeout(function () {
        $('#divmsg').hide();
    }, 4000);
    (function ($) {
        $.validator.unobtrusive.adapters.addBool("checkboxrequired", "required");
    }(jQuery));
    $("#btnQuote").click(function (e) {
        e.preventDefault();
        //$('#buttondiv').css('display','block!important;');
        // now trigger the form validation, result is 1 or 0
        var result = $('form').valid();
        if (result) {
            if ($('#f-option-1').prop("checked") == true) {
                $('#PurposeofInsurance').val('New Insurance');
            }
            if ($('#f-option-2').prop("checked") == true) {
                $('#PurposeofInsurance').val('Transfer of ownership');
            }
            $('#SelectedInsurance').val($('#IssuranceId option:selected').text());
            $('form').submit();
            //debugger;
            $.ajax(
                // details omitted
            );
        }
    });
</script>
