@{ ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<!--<div class="stepForm">
    <div class="container">
        <div class="row">
            <div id="aboutUs"></div>
        </div>
    </div>
</div>-->
<div class="aboutContent">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="about">
						<div class="about_item about_head">
							<div class="abouthead_item">
								<img src="../content/images/About.png">
								<div>Lorem Ipsum</div>
							</div>
							<div class="abouthead_item" id="aboutUs">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								<p>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
								fugiat nulla pariatur.
								</p>
								<p>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
								fugiat nulla pariatur.
								</p>
							</div>
						</div>
						<div class="about_item about_mainimage">
							<img src="../content/images/banner-about.png">
						</div>	
					</div>
				</div>
				</div>
			</div>
		</div>



		<div class="abouttab">
			<div class="abouttab_item">
				
			</div>
			<div class="abouttab_item">

				<div class="tab_mn">
					<div class="tab_item active" data-id="#tab1">Our Values </div>
					<div class="tab_item" data-id="#tab2">Mission</div>
					<div class="tab_item" data-id="#tab3">Why Us?</div>
				</div>
				<div class="tabdetail_mn">
					<div class="tabdetail_item" id="tab1">

						<ul class="vm_list">
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
						</ul>

					</div>
					<div class="tabdetail_item" id="tab2">
						<ul class="vm_list">
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.</li>
						</ul>
					</div>
					<div class="tabdetail_item" id="tab3">
						<div class="points_mn">
						<div class="points">
							<div><img src="../content/images/points/points (5).png"></div>
							<div>Fast & Easy Applivation</div>
						</div>
						<div class="points">
							<div><img src="../content/images/points/points (1).png"></div>
							<div>Transparent Process</div>
						</div>
						<div class="points">
							<div><img src="../content/images/points/points (6).png"></div>
							<div>Multiple Choices </div>
						</div>
					</div>
						<div class="points_mn">
						<div class="points">
							<div><img src="../content/images/points/points (4).png"></div>
							<div>Dedicated Team</div>
						</div>
						<div class="points">
							<div><img src="../content/images/points/points (3).png"></div>
							<div>Customer Focused</div>
						</div>
						<div class="points">
							<div><img src="../content/images/points/points (2).png"></div>
							<div>24/7 Support</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Our Team</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">Lorem Ipsum</h4>
                                    <h4 class="card-title-sub">Founder & CEO</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet,
consectetur adipiscing elit, sed
do eiusmod tempor incididunt
ut labore et dolore magna</p>
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                    <h4 class="card-title">Lorem Ipsum</h4>
                                    <h4 class="card-title-sub">Founder & CEO</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet,
consectetur adipiscing elit, sed
do eiusmod tempor incididunt
ut labore et dolore magna</p>
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                    <h4 class="card-title">Lorem Ipsum</h4>
                                    <h4 class="card-title-sub">Founder & CEO</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet,
consectetur adipiscing elit, sed
do eiusmod tempor incididunt
ut labore et dolore magna</p>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
           

        </div>
    </div>
</section>
<!-- Team -->
<script>
    $(document).ready(function () {
            getStaticContent();
			$('.tab_item').click(function(){
			$('.tab_item').removeClass('active');
			$(this).addClass('active');
			var id = $(this).attr('data-id');
			$('.tabdetail_item').hide();
			$(id).show();
		});
        });
        function getStaticContent() {
            $.ajax({
                type: "POST",
                url: "/Account/GetStaticPageContent",
                data: '{pageId: 1}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#aboutUs').html(response);
                }
            });
        }
</script>
