@{ ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<div class="stepForm">
    <div class="container">
        <div class="row">
            <div id="privacypolicy"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
            getStaticContent();
        });
        function getStaticContent() {
            $.ajax({
                type: "POST",
                url: "/Account/GetStaticPageContent",
                data: '{pageId: 2}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#privacypolicy').html(response);
                }
            });
        }
</script>