@{ ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Forgot Password Confirmation</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div>
            @if (ViewBag.Confirmation == 0)
            {
<p class="cofirmmsg">
    Email-id is not correct , please check your email-id.
</p> }
else
{
<p class="cofirmmsg">
    Please check your email to reset your password.
</p>}
        </div>
    </div>
    <!-- /.login-box-body -->
</div>


