@{ ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Reset password confirmation</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div>
            @if (ViewBag.Confirmation == 0)
            {
            <p class="cofirmmsg">
                Email-id is not correct , please check your email-id.
            </p> 
            }
            else
            {
                    <p class="cofirmmsg">
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
            }
        </div>
    </div>
    <!-- /.login-box-body -->
</div>

