@using Insurance.Resources
@{ ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutStatic_en.cshtml"; }
<div class="stepForm homepage">
    <div class="container">
        <div class="row">
            <div class="login-box">
                <div class="login-logo">
                    <a href="#"><b>@Master_en.ForgotPasswordConfirmation</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <div>
                        @if (ViewBag.Confirmation == 0)
                        {
            <p class="cofirmmsg">
                @Master_en.EmailLinkNotCorrect
            </p> }
        else
        {
<p class="cofirmmsg">
    @Master_en.EmailLinkSent
</p>}
                    </div>
                </div>
                <!-- /.login-box-body -->
            </div>
            </div>
        </div>
    </div>


