@media screen and (max-width:1200px){
    .h1, h1 {
        font-size: 1.5rem;
    }
    .h4, h4 {
        font-size: 1rem;
    }

    .abouthead_item img {
        max-width: 90%;
        margin: 0px auto;
    }
    .about_mainimage img {
        min-width: 90%;
        width: 100%;
        margin: 0 auto;
    }
    .abouthead_item:nth-child(2) {
        padding: 0 0px;
    }
    .abouthead_item:nth-child(2) p {
      
        font-size: 16px;
    }
    .tab_item:before{
        margin-right: 5px;
    }

    ul.vm_list li {
        
        font-size: 16px;
    }

    .header_tabinner{
        display: flex;
        padding-top: 25px;
    }
    .header_tab{
        width: 100%;
    }

    .header .container, 
    .header .container .row, 
    .header .container .col-md-12, 
    .header .container .col-md-12 .header_menu
    {
        position: static;
    }
    .header .container{        
        width: 100%;
    }


    .header .header_nav{ 
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
        flex-direction: column;
        height: auto;
        z-index: 999;
        margin-top: 82px;
        padding: 30px;
    }

    .header_navlink{
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #bbb;
        padding: 10px 0;
    }
    .header_navlink:before{
        display: none;
    }

    .header_navlink-1{
        text-align: center;
        margin: 15px 0;
        border: 2px solid #70e1da;
    }
    .header_navlink-2{
        text-align: center;
    }

    .header_navlink{
        
    }

    .header .header_nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
        flex-direction: column;
        height: auto;
        z-index: 999;
        margin-top: 82px;        
        box-shadow: 0px 15px 15px #00000024;
        overflow: hidden;
        height: 0;
        padding:0px;
        transition: all .3s ease;

    }

    .header .header_nav.show_menu{
        height: 313px;
        padding: 30px;
    }



    .burger {
        position: absolute;
        right: 15px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #336b8a;
        display: block;
        font-size: 45px;
    }

    .partner {
        padding: 50px 35px;
    }

    .quick-link {
        display: flex;
        flex-direction: column;
    }
    .quick-link a{
        border:0px;
    }
    .quck-social{
        flex-wrap: wrap;
    }
    .quck-social label{
        margin-bottom: 15px;
        width: 100%;
    text-align: center;
    }
    .footer {
        padding: 50px 15px 00px 15px;
    }
    .about_head{
        flex-direction: column;
    }
    .abouttab{
        flex-direction: column;
    }
    .abouttab_item {
        width: 100% !important;
    }
    .progressbar_flag {
        width: 67px;
        font-size: 8px;
    }
    .arabic .stepForm > .container > .row {
        display: block;
    }
    .formfieldmn_head {
        width: 100%;
    }
    .header_language{
        right: 69px;
        top: 8px;
    }

    #msform{
        padding: 25px 25px;
        margin-top: 30px;
    }
    #msform fieldset{
        width: 100%;
    }
    .form_control{
        padding: 0 5px;
    }
    .callDiv{
        margin-bottom: 85px;
    }
    .header_tabtooltip{
        display: none !important;
    }
    .login_mn{
        padding: 0;
    }
    .login_in{
        background-size: 100% 100%;
    }
    .card-signin{
        height: auto;
    }
    .login_mn {
        height: 642px;
    }
    .custom-social{
        flex-direction: column;
    }
    .custom-social button.btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .bannerForm:before{
        display: none;
    }
    .bannerForm{
        width: 100%;
    }
    .tab_item{
        font-size: .9em;
    }
    .banner_1 .header_tabinner{
        width: 100%;
        position: absolute;
        top: 420px;
    }

    .stepForm_1{
        padding-left: 0px !important;
    }
    .stepForm_2{
        flex-direction: column;
    }
    .stepForm_2 .form_control {
        padding: 0 0px;
    }
    .stepForm_mn{
        height: auto;
        flex-direction: column;
    }
    .newForm{
        height: auto;
        padding: 15px 0;
    }

    .stepForm_item:nth-child(1){
        margin: 0;
        padding: 0;
        border-right: 0;
        width: 100%;
        border-bottom: 1px solid #a5a4a4;
        margin-bottom: 15px;
    }

}




@media screen and (min-width: 1367px){

    .banner_1 .header_tabinner{
        position: absolute;
        top: 25px;
}

}



@media (min-width:320px) and (max-width:767px) { 
.banner_1 .header_tabinner.cln { display: block !important; position: static; text-align: center; padding: 6px 0 0 0; }
.header_tab {display: inline-block; padding: 0; height: 73px; width: 56px;}
.stepForm_2 .form_control {width: 100%;}
.stepForm_2 .form_control:last-child {width: 100%;}
.clsvehicle .stepForm_2 .form_control:last-child .inputtext {margin: 0;}
.stepForm_item:nth-child(2) {width: 100%;}
.stepForm_2 .form_control:last-child {height: auto;}
.banner_1 {display: block; padding: 0; height: auto;}
.newForm {padding: 15px 0 27px; background: rgb(224 224 224 / 60%); position: static; height: auto;}
.stepForm_item:nth-child(2) {padding: 0;}












}
